@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  background: #000000; }

.widget-title {
  display: inline-block;
  margin: 20px 20px; }
  .widget-title h2 {
    font-size: 40px;
    color: #f8f5f5; }
  .widget-title h2 > i {
    margin: 0 5px;
    color: #fd0a0a; }
  .widget-title h2:hover, .widget-title i:hover {
    color: #fa1911;
    cursor: pointer; }

.efect {
  text-decoration: none;
  color: #f8f5f5; }

.efect:hover {
  color: #fd0a0a; }

/* variables */
/* tarjeta carrusel owl */
.card_content {
  width: 200px;
  margin: 20px auto;
  display: block;
  overflow: hidden;
  background: #fff; }
  .card_content .card_content_img {
    height: 300px;
    overflow: hidden; }
  .card_content .card_content_img:hover img {
    transform: scale(1.2); }
  .card_content .card_content_img img {
    transition: all .4s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .card_content .card_content_content {
    padding: 5px;
    background: #152729;
    color: #fff;
    text-align: center;
    max-height: 50px;
    min-height: 80px; }
  .card_content .card_content_title .card_title {
    font-size: 15px; }
  .card_content .card_content_title a {
    text-decoration: none;
    color: #fff; }
  .card_content .card_content_title a:hover {
    color: aquamarine; }

.carrusel {
  margin-top: 10px; }

@media screen and (max-width: 375px) {
  .card_content {
    width: 150px;
    height: 100%;
    margin: 20px; } }

@media screen and (max-width: 500px) {
  .card_content {
    width: 200px;
    margin: 20px auto; } }

@media screen and (max-width: 900px) {
  .card_content {
    width: 250px;
    margin: 20px auto; } }

@media screen and (min-width: 900px) {
  .card_content {
    width: 300px;
    margin: 20px auto; } }

@media screen and (min-width: 1000px) {
  .card_content {
    width: 200px;
    margin: 20px auto; } }

/* tarjetas ultimos capitulos */
.card-item {
  width: 100%; }
  .card-item .card-img {
    width: 100%;
    height: 220px;
    overflow: hidden;
    cursor: pointer;
    position: relative; }
  .card-item .card-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    object-fit: cover;
    transition: all .3s ease-in-out; }
  .card-item .card-img:hover img {
    opacity: .3; }
  .card-item .like-button {
    font-size: 20px;
    cursor: pointer;
    border-radius: 15rem;
    position: absolute;
    z-index: 2; }
    .card-item .like-button .tags {
      color: #fff;
      background: #fd0505;
      border-radius: 5px;
      padding: 5px; }
    .card-item .like-button .tags:hover {
      background: #690404; }
  .card-item .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .3s ease;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .card-item .play-icon {
    background: transparent;
    border: none;
    position: absolute;
    color: #fa0e0e;
    font-size: 3.5rem;
    cursor: pointer;
    left: 45%;
    bottom: 39%; }
    .card-item .play-icon .fa-play-circle:hover {
      color: #690404; }
  .card-item .card-text {
    color: #fff;
    margin: 5px 10px;
    cursor: pointer; }
  .card-item .card-text:hover {
    color: aquamarine; }

/* arjetas de los ultimos animes en emision */
.card_e {
  width: 100%;
  cursor: pointer; }
  .card_e .card_e_img {
    width: 100%; }
  .card_e .card_e_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .card_e .card_e_img_txt {
    margin: 5px 5px;
    color: #fff;
    max-height: 200px;
    overflow: hidden; }
  .card_e .card_e_img_txt:hover {
    color: aquamarine; }

.etiquetas {
  display: flex;
  justify-content: flex-start; }
  .etiquetas .tickets {
    margin: 0;
    padding: 5px;
    color: #fff;
    background: red;
    margin: 0 10px;
    border-radius: 20px; }
