/* variables */

$bg-color-content:#fff;
$text-color:#fff;
$bg-content-footer:#152729;
$text-color-footer:#fff;
$text-hover:aquamarine;


/* tarjeta carrusel owl */
.card_content{
    width: 200px;
    margin: 20px auto;
    display: block;
    overflow: hidden;
    background: $bg-color-content;

    .card_content_img{
        height: 300px;
        overflow: hidden;
    }

    .card_content_img:hover img{
        transform: scale(1.2);
    }
    .card_content_img img{
        transition: all .4s ease-in-out;
        width: 100%;
    }

    .card_content_content{
        padding: 5px;
        background: $bg-content-footer;
        color: $text-color-footer;
        text-align: center;
        max-height: 50px;
        min-height: 80px;
    }

    .card_content_title .card_title{
        font-size: 15px;
    }
    .card_content_title a{
        text-decoration: none;
        color: #fff;
    }
    .card_content_title a:hover{
        color:$text-hover ;
    }

}

.carrusel{
    margin-top: 10px;
}

@media screen and (max-width:375px) {
  .card_content{
      width: 200px;
      height: auto;
  }
  .item{
      margin: 0 auto;
  }
  .card_content_img{
      width: 200px;
  }
  .card_content_img img{
      width: 100%;
  }

}


//tarjetas ultimos capitulos
.card-item{
    width: 300px;

    .card-img{
       width: 100%;
       height: 200px;
       overflow: hidden;
       cursor: pointer;

        img{
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

    //     .like-button {
    //         color: red;
    //         font-size: 20px;
    //         cursor: pointer;
    //         border-radius: 10rem;
    //         background-color: transparent;
    //         border: transparent;
    //         }
            
    //         .like-button :hover {
    //         color: red;
    //         }
     }
    .card-text{
        color: $text-color;
        margin: 5px 10px;
        cursor: pointer;

    }
    .card-text:hover{
        color: $text-hover;
    }


}



// .etiquetas{
//     display: flex;
//    justify-content: flex-start;
    
//     .tickets{
//         margin: 0;
//         padding: 5px;
//         color: $text-color;
//         background: red;
//         margin:0 10px;
//         border-radius: 20px;
//     }
// }