*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}


  
  .contenedor-padre .sidebar {
      position: relative;
      background: #fff;
      color: #fff;
      
      min-height: 100px;
      grid-row: span 3;
      grid-area: sidebar;
  
  }

  .encabezado{
    grid-area: encabezado;
  }
  
  .contenedor-padre .widget-1,
  .contenedor-padre .widget-2,
  .contenedor-padre .widget-3{
      background: rgb(252, 255, 255);
      color: #000000;
      height:400px;
      text-align: center;
      grid-row: span 3;
      align-items: center;
      justify-content: center;
     
      
  }

  .widget{
    grid-area: widget;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
  }
  

  .contenedor-padre .footer {
      background: #121312;
      color: #fcf8f8;
      grid-column: span 3;
      grid-area: footer;
  }
  

  
  
  @media screen and (max-width: 700px) {
    .contenedor-padre{
      grid-template-areas: 
                       "contenido-cuerpo contenido-cuerpo contenido-cuerpo"
                        "widget-1 widget-1 widget-1"
                        "widget-2 widget-2 widget-2"
                        "widget-3 widget-3 widget-3"
                        "sidebar sidebar sidebar"
                        "footer footer footer";
                       
    }
  }
 
  

.img-1{
 
    display: block;
    width: 390px;
    object-fit: cover;
    position: relative;
    animation: arriba 1s ease-in;
    margin-top: 40px;
 
}




.textos{
   
    color: #fff;
    margin-left: 50px;
    animation: moverDerecha 1s ease-in;
}

.textos h1{
    font-size: 90px;
    font-weight: 700;
    
    color: rgb(255, 255, 255);
}
.textos h2{
    font-size: 40px;
   
    color: rgb(255, 246, 246);
}




@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}



.container{
  float: left;
  padding-top: 40px;
}


  
  .text--medium {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#000000;
  }
  


  /*///// estilos para las tarjetas */
  
  .secction{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: auto;
   
  }
  .card_a{
    display: block;
    max-width: 400px;
    min-height: 400px;
    margin: 10px 5px;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
 
    transition: all 0.5s ease 0s;
  }
  
  .card_a:hover{
    transform: translatey(-7px);
    
  }
  
  .card_a_img{
    width: auto;
    max-height: 300px;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
   
  }
  
  .card_a_img img{
    width: 100%;
    max-width: 700%;

  }

  .card_a_content{
    width: auto;
    height: 150px;
    padding: 10px;
    text-align: center;
    background: #152729;
    color: #fff;
   
   
    
  
  }
  .card_a_content h4{
    overflow:hidden;
    text-align: center;
  }
  
  .card_a_link{
    text-align: center;
    display: flex;
  }
  
  .card_a_link a{
    background: rgb(2, 174, 253);
    color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 10px;
    margin: 0 5px;
  }
  
  .card_a_link a:hover{
    background: #fff;
   
  }


/*  tarjetas carrusel owl */

.card_content{
      
  margin:20px 20px;
  display: block;
  width: 200px;
  border-radius: 5px;
  background:#ffffff;
}

.card_content_img{
  width: 100%;
  

}

.card_content_img img{
  width: 100%;
 
}
.card_content_content{
  padding: 5px;
  background: #152729;
  color: rgb(255, 255, 255);
  text-align: center;
}


.carrusel{
  margin-top: 10px;
}

@media screen and (max-width:300px) {
  .card_content{
      
    margin:20px auto;
    display: block;
    width: 100px;
    border-radius: 5px;
    background:#ffffff;
  }
}