body{
    padding: 0;
    margin: 0;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header{
    background: #AAFFA9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
height: auto;
padding: 48px;
width: 100%;
}

img{
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;

}

.textos{
    width: 50%;
    color: #fff;
}

.textos h1{
    font-size: 80px;
    color: #fff;
}
.textos h2{
    font-size: 30px;
    color: #fff;
}

.wave{
    height: auto;
    background: #AAFFA9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}