body{
  padding: 0;
  margin: 0;
  background: rgb(235, 228, 228);
}


.secction{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 
}
.card_a{
  display: block;
  width: 400px;
  height: 550px;
  margin: 10px auto;
  border-radius: 6px;
  background: #fff;
  border-bottom: 4px solid rgb(11, 192, 247);
  border-top: 4px solid rgb(11, 192, 247);
  transition: all 0.5s ease 0s;
}

.card_a:hover{
  transform: translatey(-7px);
  border-bottom: 4px solid rgb(247, 47, 11);
  border-top: 4px solid rgb(247, 39, 11);
}

.card_a_img{
  width: auto;
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
 
}

.card_a_img img{
  width: 100%;
}



.card_a_content{
  width: auto;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  

}

.card_a_link{
  text-align: center;
  display: flex;
}

.card_a_link a{
  background: rgb(2, 174, 253);
  color: black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: 10px;
  margin: 0 5px;
}

.card_a_link a:hover{
  background: #fff;
 
}